<div class="position border-bottom bg-white">
    <app-budget-calculator></app-budget-calculator>
    <section class="section-content">
        <div class="row">
            <div class="col-3">
                <input type="date" class="form-control" [(ngModel)]="incomeExpense.trasDate" name="date">
            </div>
            <div class="col-3">
                <input type="number" name="amount" required class="form-control"
                    placeholder="Amount" [(ngModel)]="incomeExpense.amount">
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" required placeholder="Description" name="description"
                        [(ngModel)]="incomeExpense.name">
                    &nbsp;
                    &nbsp;

                    <div>
                        <button class="btn" type="submit" ngClass="btn-outline-success" (click)="updateRecord()">
                            <span>Update</span>
                        </button>
                        &nbsp;
                        <button class="btn" type="submit" ngClass="btn-outline-secondary" (click)="cancel()">
                            <span>Cancel</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>