input {
  background: #f8f9fa;
}

.section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.position {
  padding-top: 150px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}