.card-item {
  padding: 10px;
  position: relative;
}
.date {
  padding: 3px;
  padding-right: 16px;
}
.card-item:hover .x-icon-button {
  opacity: 1;
  transform: scale(1);
}

.card-item .x-icon-button {
  position: absolute;
  background: lightgray;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  right:-11px;
  top: -11px;
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  cursor: pointer;
}

.card-item .x-icon-button span {
  padding-left: 8px;
}
.card {
  cursor: pointer;
  display: flex;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  transition: background-color 0.2s ease-out;
  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.item {
  display: flex;
  width: 100%;
  padding: 8px;
}
p {
  margin-bottom: 0;
}
.description {
  flex-grow: 1;
  margin-left: 5px;
  margin-top: 3px;
}

.amount {
  padding: 5px;
  border-radius: 5px;
  background: lightgray;
}

.expenses p {
  color: #dc3545;
}

.expenses .amount {
  background: #dc354648;
}

.income p {
  color: #28a745;
}

.income .amount {
  background: #28a7463a;
}

.form-popup-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.form-popup-bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  overflow-y: auto;
}
.form-popup-bg.is-visible {
  opacity: 0.8;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.form-container {
  background-color: white;  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 40px;
  color: #181717;
}
.close-button {
  background: none;
  color: black;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  border: solid 1px #e9ecef;
}

.form-popup-bg:before {
  content: "";
  background-color: white;  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



























