.table {
    margin-top: 3rem;
}

#fix {
    margin-top: 9rem;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.btn-outline-primary {
    color: #17a2b8;
    border-color: #17a2b8;
}

.postion-fix {
    position: fixed;
    z-index: 999;
    background: white;
    width: 100%;
}

.pt-150 {
    padding-top: 175px;
}

.pt-6 {
    padding-top: 145px;
    padding-bottom: 30px;
}